html{ /* SNIPET PARA RESPETAR EL TAMAÑO ( paddings) */
    box-sizing: border-box;
    font-size: 62.5%; /* 1 REM= 10 PIXELES */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2; /* Espaocio entre interlineado */
}

/* Globales */
h1,h2,h3{  /* Separado por comas, colocar a varios selectores */
    font-family: 'Playfair Display',serif;
    margin: 0 0 5rem 0; /* Remover el margin que viene por defecto en los heading */
}
h1{
font-size: 5rem;
}
h2{
font-size: 4rem;

}
h3{
font-size: 3rem;

}
/* Globales */



.general{
    padding: 3rem;
display: flex;
background-color: rgb(194, 189, 189);
}

.contenedor{

    width: 80vw;
    height: 100vh;
    background-color: white;
}
.lateral{
    margin-left: 3rem;
    width: 20vw;
    background-color: rgb(133, 131, 134);
}
.navegacion{
    height: 8rem;
    background-color: rgb(13, 13, 146);
    font-size: 4rem;
}
.boton-navegacion{

    width: 12rem;
    height: 4rem;
}



.formulario{
    margin: 25rem auto;
    width: 40rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.centrar-botones{

    margin: 0 auto;
}
