{% extends "tempBase.html" %}
{% block title %} Paciente {% endblock %}

{% block content %}
<div class="row">
    <div class="container py=4 text-center">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong class="text-dark">{{ message }}</strong>
            </div>
            {% endfor %}
        {% endif %}
        <div class="row m-4 d-flex justify-content-center align-center-items">
            <div class="col-md-4">
                <h4>Buscar Paciente</h4>
                <form class="d-flex" role="search" action="{% url 'busquedaPac' %}" method="POST" >
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="DNI,Apellido" name ="searched"
                     maxlength="20" minlength="3">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="table">      
        <table class="table table-responsive py-2">
            <thead>
                <tr>
                    <th>#</th>
                    <th>DNI</th>
                    <th>Apellido Paterno</th>                    
                    <th>Apellido Materno</th>
                    <th>Nombre</th>
                    <th colspan="2">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for p in pacientes %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ p.dni }}</td>
                    <td>{{ p.apPat}}</td>
                    <td>{{ p.apMat}}</td>
                    <td>{{ p.nombre}}</td>
            
                    <td><a href="edicionPaciente/{{p.dni}}" class="btn btn-sm btn-info">Editar</a></td>  <!--edicionCurso/{{c.codigo}} -->
                    <td><a href="eliminarPaciente/{{p.dni}}" class="btn btn-sm btn-danger btnEliminacion">Eliminar</a></td> <!--eliminarCurso/{{c.codigo}} -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>     
       
{% endblock %}
