<!DOCTYPE html>
<html>

<head>
    <br>
    <br>
    <br>
    <title style="text-align:center">Receta Medica</title>
    <br>
    <br>
</head>

<body>
    <h1 style="text-align:center">Centro de Salud</h1>
    <h1 style="text-align:center">{{ IPRESS.nombre }}</h1>
    <br>
    <p style="text-align:center">Dr. {{ Medico.nombre }} {{ Medico.apPat }} {{ Medico.apMat }} Nro: {{ Medico.nColMed }} Fecha: ___/___/___</p>
    <br>
    <p>Paciente Datos: {{ Paciente.nombre }} {{ Paciente.apPat }} {{ Paciente.apMat }}  DNI: {{ Paciente.dni }}</p>
    <br>
    <br>
    <br>
    <p>Diagnostico:</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p></p>
    <p>Dr. {{ Medico.nombre }} {{ Medico.apPat }} {{ Medico.apMat }}</p>

    <p>Firma:</p>
    <br>
    <br>
    <br>
    <br>
    <p>Sello:</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


</body>

</html>