{% extends "tempBase.html" %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="container py=4 text-center">
    <div class="row m-4 d-flex justify-content-center align-center-items">
        <div class="col-md-4">
            <h4>Generar Receta de Farmacia por Paciente</h4>
            <form class="d-flex" role="search" action="{% url 'busquedaDoc' %}" method="POST" >
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="DNI" name ="searched"
                 maxlength="8" minlength="8">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</div>

<center>
    <!--{% if searched %} -->
        <p> buscaste {{ searched }}</p>
        {% if pacientes|length == 0 %}
            <p>No se encontro el paciente</p>
        {% else %}
            {% for p in pacientes %}
            <a href="{{p.dni}}">{{ p.dni }}</a>
            {{ p.apPat}} {{ p.apMat}}, {{ p.nombre}}    
            {% endfor %}
     
        {% endif %}
    <!--{% else %}
        <h1> olvidaste buscar</h1>
    {% endif %}-->
</center>
{% endblock %}
