{% extends "tempBase.html" %}
{% block content %}
    <div class="container py=4">
        <div class="row">
            <div class="col-md-4">
                <h4>Buscar Paciente</h4>
                <form class="d-flex" role="search" action="" method="POST"> {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="DNI" aria-label="Search" maxlength="8" minlength="8">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>

            </div>
            <div class="col-md-8">
            </div>
        </div>
    </div>
{% endblock %}
