{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="{% static 'css/log.css' %}" rel="stylesheet" />
    </head>

    <body>
        {# Cargamos la librería #}
        {% load bootstrap4 %}

        <nav class="navegacion">
            <img src="" alt="imagen">
            <button type="button" class="btn btn-outline-light boton-navegacion">Login</button>
        </nav>

        <div class="general">
            <div class="contenedor">
                <div class="login-formulario">


                    <form class="formulario">
                        <h3 class="centrar-botones">Usuario</h3>
                        <div>

                            <input type="text" name="usuario" placeholder="Usuario" required>
                        </div>
                        <h3 class="centrar-botones">Contraseña</h3>
                        <div>
                            <input type="password" placeholder="Contraseña" name="password" required>

                        </div>
                        <div class="centrar-botones">

                            <button class="btn btn-primary">INICIAR</button>
                        </div>
                        <div class="centrar-botones">

                            <button class="btn btn-primary">REGISTAR</button>
                        </div>

                    </form>





                </div>
            </div>
            <div class="lateral">


            </div>

        </div>
        </div>
        {# CSS Bootstrap #}
        {% bootstrap_css %}

    </body>

</html>
