{% extends "tempBase.html" %}
{% block content %}
    <div class="col-md-4">
        <h2>Nuevo Paciente</h2>
        <div class = "card">
            <div class = "card-body">
                <form  action="registrarCurso/" method="POST"> {% csrf_token %}
                    <div class="mb-1">
                        <label for="exampleInputEmail1" class="form-label">DNI</label>
                        <input type="text" class="form-control" id="dniPac" name="dniPac" minlength="8" maxlength="8">
                    </div>
                    <div class="mb-1">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
